In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [64]:
df = pd.read_csv('Iris.csv')

In [65]:
print (df.head(5))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [79]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [67]:
def euclidian_distance(x,y):  
    dist = 0.0
    for i in range(1,(len(x)-1)):
        dist += abs(((float(y.iloc[i])**2) -(float(x.iloc[i])**2))**0.5)
    return dist

In [86]:
def knn(x):
    instance_x = df.loc[df['Id'] == x]
    instance_y = df.loc[df['Id'] != x]
    values = dict()
    for i in range(len(instance_y)):
           values.update({str(instance_y.iloc[i]['Id']):euclidian_distance(instance_y.iloc[i],instance_x.iloc[0])})
    values= pd.DataFrame(list(values.items()), columns=['Id', 'distance_from_x'])
    values.reset_index()
    print(values)
    return values

In [87]:
euclidian_distance(df.iloc[0],df.iloc[1])
print(type(df.iloc[0]))

<class 'pandas.core.series.Series'>

In [88]:
euclidian_distances_form_instance_x = knn(51)
print (euclidian_distances_form_instance_x)

      Id  distance_from_x
0      1        12.084821
1      2        11.984840
2      3        11.089762
3      4        11.909940
4      5        12.420509
5      6        12.406982
6      7        12.279401
7      8        11.887744
8      9        12.669325
9     10        11.643361
10    11        12.151481
11    12        12.048925
12    13        12.091719
13    14        12.603027
14    15        12.249051
15    16        12.879036
16    17        12.541838
17    18        12.066660
18    19        11.861900
19    20        12.665870
20    21        11.370545
21    22        12.448059
22    23        12.903630
23    24        11.290465
24    25        11.928486
25    26        11.817449
26    27        11.808809
27    28        11.943747
28    29        11.707350
29    30        10.992402
..   ...              ...
119  121         6.228714
120  122         8.563120
121  123        10.960217
122  124         7.285797
123  125         7.623690
124  126         6.546212
125  127         6.904859
126  128         7.064221
127  129         8.994598
128  130         6.971909
129  131         9.122161
130  132        11.483604
131  133         9.126406
132  134         7.118838
133  135         8.343800
134  136        10.034629
135  137         9.194168
136  138         7.617157
137  139         6.825154
138  140         6.196903
139  141         7.815065
140  142         5.777436
141  143         8.901162
142  144         7.052664
143  145         8.129674
144  146         7.190555
145  147         8.039123
146  148         7.364774
147  149         8.882304
148  150         7.991784

[149 rows x 2 columns]
      Id  distance_from_x
0      1        12.084821
1      2        11.984840
2      3        11.089762
3      4        11.909940
4      5        12.420509
5      6        12.406982
6      7        12.279401
7      8        11.887744
8      9        12.669325
9     10        11.643361
10    11        12.151481
11    12        12.048925
12    13        12.091719
13    14        12.603027
14    15        12.249051
15    16        12.879036
16    17        12.541838
17    18        12.066660
18    19        11.861900
19    20        12.665870
20    21        11.370545
21    22        12.448059
22    23        12.903630
23    24        11.290465
24    25        11.928486
25    26        11.817449
26    27        11.808809
27    28        11.943747
28    29        11.707350
29    30        10.992402
..   ...              ...
119  121         6.228714
120  122         8.563120
121  123        10.960217
122  124         7.285797
123  125         7.623690
124  126         6.546212
125  127         6.904859
126  128         7.064221
127  129         8.994598
128  130         6.971909
129  131         9.122161
130  132        11.483604
131  133         9.126406
132  134         7.118838
133  135         8.343800
134  136        10.034629
135  137         9.194168
136  138         7.617157
137  139         6.825154
138  140         6.196903
139  141         7.815065
140  142         5.777436
141  143         8.901162
142  144         7.052664
143  145         8.129674
144  146         7.190555
145  147         8.039123
146  148         7.364774
147  149         8.882304
148  150         7.991784

[149 rows x 2 columns]

In [89]:
n = 3
np_array = (np.array(euclidian_distances_form_instance_x['distance_from_x']))
np_array.sort()

n_neighbours = np_array[:n]

df2 = pd.DataFrame()
for i in n_neighbours:
    s = euclidian_distances_form_instance_x.loc[euclidian_distances_form_instance_x['distance_from_x'] == i]
    df2 = df2.append(s,ignore_index=True)
df2

   Id  distance_from_x
0  87         3.359555
1  53         3.896865
2  77         4.185198

In [90]:
df2

   Id  distance_from_x
0  87         3.359555
1  53         3.896865
2  77         4.185198

In [91]:
list_of_species = list()
for i in range(len(df2)):
    x=df2['Id'].iloc[i]
    x = int(x)
    list_of_species.append(df.loc[df['Id']==x]['Species'].tolist())
print(list_of_species)

[['Iris-versicolor'], ['Iris-versicolor'], ['Iris-versicolor']]